.input-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
    width: 100%;
}

.input-field {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 12px;
    transition: border-color 0.2s ease;
}

.input-field:focus {
    outline: none;
    border-color: #fb8016;
}

.input-error {
    border-color: red;
}

.input-error-message {
    margin-top: 4px;
    font-size: 10px;
    color: red;
    margin-bottom: -20px;
    display: flex;
    justify-content: flex-start;
}