.change-password-content {
  padding: 50px;
}

.change-password-information {
  display: flex;
  width: 100%;
  gap: 15px;
  align-items: center;
}

.change-password-row-title {
  width: 30%;
  color: #7c7a7a;
  text-align: right;
}

.change-password-row-content {
  width: 50%;
  text-align: start;
  margin-bottom: -28px;
}
