.product-content {
  width: 70%;
  margin: 0 auto;
}

.product-title {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  padding: 16px;
  border-bottom: 2px solid #5661f5;
  color: #5661f5;
}

.product-data {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  padding: 10px;
  background: #f5f5f5;
}

.product-card {
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  border-radius: 8px;
  overflow: hidden;
}

.discount-badge-product {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  font-size: 13px;
  font-weight: 600;
  padding: 4px 6px;
  border-radius: 6px;
  z-index: 2;
  background-color: #fff8f8;
}

.product-card:hover {
  border: 1px solid #fb823c;
  transform: scale(1.01);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.product-name-product {
  font-size: 15px;
  color: #333;
  line-height: 1.4;
  padding: 15px 4px;
  text-align: left;
  font-weight: 500;
}

.product-view-all {
  text-align: center;
  padding: 1% 0 5% 0;
}

.product-quantity-price {
  display: flex;
  justify-content: space-between;
  padding: 15px 4px;
  align-items: center;
}

.product-price-product {
  font-size: 16px;
  color: red;
  font-weight: 600;
}

.currency-symbol {
  font-size: 14px;
  vertical-align: text-bottom;
  margin-left: 2px;
  color: red;
}

.product-quantity-sold {
  font-size: 13px;
  color: #777;
}
