.purchase-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
  animation: fadeIn 0.25s ease;
  z-index: 2000;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.purchase-modal {
  width: 55%;
  max-height: 85vh;
  background: #fff;
  border-radius: 10px;
  overflow-y: auto;
  animation: popup 0.25s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
  padding: 10px;
}

@keyframes popup {
  from { transform: scale(0.85); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

.purchase-modal h2 {
  background: #1677ff;
  color: #fff;
  padding: 18px 22px;
  margin: 0;
  font-size: 20px;
}

.modal-section {
  border-bottom: 1px solid #eee;
  width: 100%;
  text-align: left;
}

.modal-title-detail {
margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

.modal-item {
  padding: 6px;
  border-radius: 6px;
  background: #f2f5f9;
  margin-bottom: 10px;
  width: 95%;
}

.product-item {
  display: flex;
  gap: 12px;
  background: #f7f8fa;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 12px;
  align-items: center;
}

.product-item img {
  width: 70px;
  height: 70px;
  border-radius: 6px;
  object-fit: cover;
  border: 1px solid #ddd;
}

.close-btn {
  margin: 18px auto;
  display: block;
  background: #ff4d4f;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.close-btn:hover {
  background: #d9363e;
}
