.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    border-radius: 8px;
    padding: 10px;
    width: 40%;
}

.modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
    margin-bottom: 16px;
}

.modal-title {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #5661f5;
}

.button-close button {
    background: none;
    border: none;
    cursor: pointer;
    color: #5661f5;
}

.modal-field {
    width: 100%;
    justify-content: flex-start;
}

.modal-label-name {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
    display: flex;
}

.modal-body {
    margin-bottom: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid #ccc;
}