.forgot-password-container {
    height: 60vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #5661f5;
}

.page-content-forgot-password {
    margin: 80px auto 0 auto;
    max-width: 100%;
    /* background-color: #5661f5; */
}

.forgot-password-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    width: 400px;
}

.forgot-password-title {
    display: flex;
    justify-content: start;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 2%;
}

.forgot-password-title-label {
    font-size: 20px;
    color: #5661f5;
    width: 90%;
}

.back-icon-svg {
    margin-right: 8px;
    font-size: 18px;
    transition: color 0.3s, transform 0.2s;
    cursor: pointer;
}

.back-icon-svg:hover {
    color: #0066b2;
    transform: translateX(-3px);
}