.header-content {
    display: flex;
    align-items: center;
    padding: 1%;
    width: 100%;
}

.header-info {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    /* align-items: center; */
    gap: 10px;
    margin-bottom: -28px;
}

.header-actions {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.button-create button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    gap: 5px;
}

.button-export button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    gap: 5px;
}

.button-create button:hover {
    background-color: #45a049;
}

.button-export button:hover {
    background-color: #007bb5;
}